<div class="content-container">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://assets.afcdn.com/story/20180620/1163976_w980h638c1cx776cy701.jpg)">
  </div>
  <div class="container-banner">
  </div>

  <div class="container-cards">

  </div>
</div>




