<div class="card-product">
  <img src="<%= toy.image_url %>" />
  <div class="card-product-infos">
    <h2><%= @toy.title %></h2>
    <p> <%= @toy.description %> with <strong>relevant info</strong> only.</p>
    <p><%= @toy.price %></p>
  </div>
</div>

