<div class="card-toy" data-aos="fade-up-right">
  <div class="card-picture">
    <%= image_tag "canard.jpeg", alt: "alttext" %>
  </div>
  <div class="card-title">
    <%= toy.title %>
  </div>
  <div>
  <%= toy.description %>
  </div>
  <div>
    <%= toy.price %>
  </div>
  <button class="btn-gradient">Jouez avec moi</button>
</div>
