// Import page-specific CSS files here.

// Specific CSS for your home-page
body {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    background: #F4F4F4;
}

.container-cards {
  height: auto;
  width: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  justify-content: space-around;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}



