// Import page-specific CSS files here.

// Specific CSS for your home-page
body {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    background: #F4F4F4;
}

.container-cards {
  height: auto;
  width: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  justify-content: space-around;
}




.lien_ajouter_annonce {
  display: flex;
  justify-content: center;
  width: 16%;
  font-family: arial;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  padding: 8px 8px;
  border-radius: 4px;
  background: #784449;
  transition: background 0.3s ease;
}

.lien_ajouter_annonce:hover {
  background: #ba676e;
  color: white;
}

