<div class="container">
  <div class="left">
    <div class="header">
      <h2 class="animation a1">Connecte toi !</h2>
      <h4 class="animation a2">Utilise ton email et ton mot de passe pour te connecter</h4>
    </div>
    <div class="form">
      <input type="email" class="form-field animation a3" placeholder="Adresse Email">
      <input type="password" class="form-field animation a4" placeholder="Mot de passe">
      <p class="animation a5"><a href="#">Forgot Password</a></p>
      <button class="animation a6">SE CONNECTER</button>
      <button class="animation a6">CREER UN COMPTE</button>
    </div>
  </div>
  <div class="right"></div>
</div>
