.lien_ajouter_annonce {
  display: flex;
  justify-content: center;
  width: 12%;
  font-family: arial;
  font-size: 12px;
  text-align: center;
  padding: 8px 8px;
  border-radius: 12px;
  background: #2f3640;
  transition: background 0.3s ease;
  a {
    color: white;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
  &:hover {
    background: #784449;
    box-shadow: 4px 1px 2px grey;
  }
}

