.card-toy {
  padding: 10px;


  margin: 10px;
  overflow: hidden;
  height: auto;
  margin: 15px 10px;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 14px;
  align-items: center;
  display: flex;
  flex-direction: column;



  .card_toy_link{
    text-decoration: none;
    // display: flex;
    // flex-direction: column;
     a{

    }
    text-align: center;
      img {
    height: 40%;
    width: 40%;
    object-fit: contain;
    align-items: right;
    text-align: center;
    align-items: center;
    }
  }

  .card-title {
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
    margin: 6px;
    text-align: center;
    padding: 6px;
    text-decoration: none;
    color: black;
  }
  .description {
    font-family: italic;
    font-size: 13px;
    text-align: center;
    color: black;
    margin-bottom: 10px;
  }
  .price {
    font-family: PT Sans;
    font-size: 24px;
    text-align: center;
    color: #D0006F;


  }
}

.card-toy:hover {
  background: linear-gradient(white, #D0006F);
  color: white;
    transition: box-shadow .3s ease-in-out;
      transition-property: box-shadow;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      transition-delay: 0s;
}

.btn-gradient {
  color: white;
  padding: 12px 24px;
  border-radius: 18px;
  font-weight: bold;
  background: linear-gradient(#982b34, #D0006F);
  transition: background 0.3s ease;
  border: 1px solid white;
}

.btn-gradient:hover {
  background: linear-gradient(#784449, #2f0d11);
  color: white;
}


.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}




.card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  color: #D0006F;
}

.card-infos .card-user {
  position: absolute;
  right: 16px;
  top: -20px;
  color: black;
}

.card-picture {
  align-items: center;
}
